.notification-text {
    display: flex;
    justify-content: space-between;
}

.mainmenu_container {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.class-mates_container {
    background-size: cover;
    .class-mates_faded {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        .class-mates_head-text {
            h1 {
                font-size: 3rem;
                font-weight: 400;
            }
        }
    }
}

.forum_discussion--greet {
    background-color: navy;
    color: white;
    padding: 50px 0;
}

.forum__create-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}